/*文字居中*/
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.va-m {
  vertical-align: middle;
}
/*字号设置*/
.fz32 {
  font-size: 32px;
}
.fz30 {
  font-size: 30px;
}
.fz28 {
  font-size: 28px;
}
.fz24 {
  font-size: 24px;
}
.fz22 {
  font-size: 20px;
}
.fz20 {
  font-size: 20px;
}
.fz18 {
  font-size: 18px;
}
.fz16 {
  font-size: 16px;
}
.fz15 {
  font-size: 15px;
}
.fz14 {
  font-size: 14px;
}
.fz13 {
  font-size: 13px;
}
.fz12 {
  font-size: 12px;
}
.fz11 {
  font-size: 11px;
}
.fz10 {
  font-size: 10px;
}
.fz9 {
  font-size: 9px;
}
.fz8 {
  font-size: 8px;
}
.fz7 {
  font-size: 7px;
}
.fz6 {
  font-size: 6px;
}
.fw-600 {
  font-weight: 600;
}
.fw-400 {
  font-weight: 400;
}
/* 行高*/
.lh-1 {
  line-height: 1.2;
}
.lh-2 {
  line-height: 1.5;
}
.lh-40 {
  line-height: 40px;
}
/*超出省略*/
.text-ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*背景色*/
.bg-f {
  background-color: #fff;
}
.bg-c {
  background-color: #ccc;
}
.bg-de {
  background-color: #dedede;
}
.bg-fc {
  background-color: #fcfcfc;
}
.bg-f4 {
  background-color: #f4f4f4;
}
.bg-f6 {
  background-color: #f6f6f6;
}
.bg-fb {
  background-color: #FBAD52;
}
.bg-ef {
  background-color: #EF1E3C;
}
.bg-f1 {
  background-color: #F18282;
}
.bg-7d {
  background-color: #7DA822;
}
.bg-3f {
  background-color: #3895A3;
}
/*颜色*/
.c-fff {
  color: #fff;
}
.c-333 {
  color: #333;
}
.c-666 {
  color: #666;
}
.c-999 {
  color: #999;
}
.c-21 {
  color: #212121;
}
.c-ff {
  color: #FF0000;
}
.c-ef {
  color: #EF1E3C;
}
.c-64 {
  color: #646464;
}
.c-69 {
  color: #696969;
}
.c-2a {
  color: #2A2A2A;
}
.c-4c {
  color: #4C4C4C;
}
.c-fb {
  color: #FBAD52;
}
.c-21 {
  color: #212121;
}
.c-ad {
  color: #ADADAD;
}
/*间距*/
.ml-20 {
  margin-left: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-6 {
  margin-left: 6px;
}
.mg-10 {
  margin: 0 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pdl-20 {
  padding-left: 20px;
}
.pd-10 {
  padding: 10px;
}
.pdlr-10 {
  padding: 0 10px;
}
.pd-20 {
  padding: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-6 {
  margin-bottom: 6px;
}
.mb-3 {
  margin-bottom: 3px;
}
/*定位*/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
/*盒子阴影*/
.box-s1 {
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.box-s2 {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
/*边框*/
.line-b {
  border-bottom: 1px solid #dedede;
}
/*鼠标小手*/
.cp {
  cursor: pointer;
}
/*盒子居中*/
.mg-a {
  margin: 0 auto;
}
.ps-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg {
  background-repeat: no-repeat;
  background-size: contain;
}
.df {
  display: flex;
}
.df-jcc {
  justify-content: center;
}
.df-aic {
  align-items: center;
}
.df-sb {
  justify-content: space-between;
}
.df-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line-th {
  text-decoration: line-through;
}
.p-title {
  border-left: 6px solid #FBAD52;
  height: 28px;
  line-height: 28px;
  padding-left: 6px;
  margin-bottom: 15px;
}
.arrow-right::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  width: 12px;
  height: 12px;
  border-right: 1px solid #646464;
  border-bottom: 1px solid #646464;
  transform: rotate(-45deg) translateY(-50%);
}
.sj-down::after {
  position: absolute;
  content: '';
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  border-top: 6px solid #4C4C4C;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
page {
  background-color: #fef9f2;
}
.container {
  width: 100%;
  height: 100%;
  padding: 25px 10px 10px 10px;
}
.login-logo {
  width: 120px;
  height: 80px;
  margin-bottom: 48px;
}
.main {
  width: 277px;
}
.main .l-item {
  display: flex;
  align-items: center;
  height: 44px;
}
.main .l-item span {
  width: 30%;
}
.main .forget {
  margin-top: 12px;
  margin-bottom: 64px;
}
.main .login-btn {
  border-radius: 5px;
  font-size: 15px;
  height: 45px;
  line-height: 45px;
}
.main input {
  font-size: 13px;
}
.main input::-webkit-input-placeholder {
  color: #696969;
  font-size: 9px;
}
.order-item {
  padding: 10px;
}
.order-item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.order-item .title .order-num {
  margin-right: 30px;
}
.order-item .content {
  display: flex;
  padding-top: 10px;
}
.order-item .content .pro-img {
  width: 95px;
  height: 95px;
}
.order-item .content .pro-right {
  flex: 1;
  padding-left: 10px;
}
.order-item .content .pro-right h5 {
  width: 162px;
  line-height: 15px;
}
.order-item .content .pro-right .pro-label {
  height: 18px;
  width: 80%;
}
.order-item .content .pro-right .pro-size {
  color: #9D9D9D;
}
.order-item .content .pro-right .pro-price {
  margin-right: 18px;
}
.order-item .content .pro-right .btn-change {
  width: 60px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #9D9D9D;
  border-radius: 13px;
}
.product-item {
  display: flex;
  padding: 9px 0px;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
}
.product-item .pro-img {
  width: 120px;
  height: 115px;
}
.product-item .pro-img img {
  width: 100%;
  height: 100%;
}
.product-item .pro-info .pro-title {
  font-size: 12px;
  color: #212121;
  margin-bottom: 7px;
}
.product-item .pro-info .pro-des {
  font-size: 9px;
  color: #ADADAD;
  margin-bottom: 21px;
}
.product-item .pro-info .pro-price {
  color: #FF0000;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
.product-item .pro-info .pro-price .pro-sale-price {
  font-size: 18px;
  margin-right: 9px;
}
.product-item .pro-info .pro-price .pro-old-price {
  color: #ADADAD;
  font-size: 9px;
  text-decoration: line-through;
}
.product-item .pro-info .pro-price .icon-vip-samll {
  margin-right: 4px;
  position: relative;
  top: 2px;
}
.product-item .pro-info .pro-price .icon-vip-samll img {
  width: 17px;
  height: 11px;
}
.product-item .pro-info .pro-car {
  width: 19px;
  height: 19px;
  position: absolute;
  right: 12px;
  bottom: 10px;
}
.cell-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 10px;
  background-color: #fff;
}
.cell-item .img-service {
  height: 30px;
  width: 80%;
}
.cell-item.border-b {
  border-bottom: 1px solid #EEEEEE;
}
.cell-item.cell-red {
  background-color: #FFEFEF;
}
.cell-item .cell-text {
  color: #9D9D9D;
}
.cell-item .promotion-detail {
  color: #646464;
}
.cell-item .cell-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}
.cell-item .vip {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell-item .vip img {
  width: 33px;
  height: 12px;
  margin-right: 6px;
}
.good-item {
  width: 113px;
  height: 183px;
  margin-right: 10px;
  margin-bottom: 26px;
  position: relative;
}
.good-item:nth-child(3n) {
  margin-right: 0;
}
.good-item .good-img-box {
  position: relative;
}
.good-item .good-img-box .good-img {
  width: 84px;
  height: 123px;
}
.good-item .good-img-box .good-tag {
  position: absolute;
  top: 7px;
  left: 0;
  width: 57px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #FF0000;
  color: #fff;
  border-radius: 0 10px 10px 0;
  font-size: 10px;
}
.good-item .good-title {
  padding: 5px;
  margin-bottom: 5px;
}
.good-item .good-info {
  padding: 0 5px;
  align-items: center;
}
.good-item .good-info p {
  margin-bottom: 5px;
}
.good-item .good-info .vip .tag-vip {
  width: 18px;
  height: 12px;
  margin-right: 3px;
}
.good-item .shop-car {
  width: 19px;
  height: 19px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
